.container
  %h2 My Profile
  %div= image_tag current_user.avatar_image
  %div= current_user.display_name
  -# %div= current_user.introduction
  -# %div= current_user.gender
  -# %div= current_user.birthday
  = link_to 'Edit', edit_profile_path


