.container
  %h2 All Tasks
  - if tasks.present?
    = render 'commons/tasks', tasks: tasks, board: board
  - else
    %div.text_field まだタスクがありません
  %div.new_card
    = link_to '+ Add New Task', new_board_task_path(@board), class: 'new_task'

