@import 'variables';

#board {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
      h2 {
        font-size: 2em;
        text-align: center;
        padding: 1em;
      }
    }

.label_board {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  display: block;
}

.field_board {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    border: 0.1em solid $bg-dark-color;
    border-radius: 0.5em;
  }

.area_board {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    padding: 0 0.5em;
    padding-bottom: 25em ;
    border: 0.1em solid $bg-dark-color;
    border-radius: 0.5em;
    word-wrap: break-word;
}