@import './variables';

#sign {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
      h2 {
        font-size: 2em;
        text-align: center;
        padding: 1em;
      }
    }

.label {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  display: block;

  &_linked {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 0.5em;
    text-decoration: underline;
  }

  &_linked:hover {
    cursor: pointer;
  }
}

.field {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  padding: 0.8em 0;
  border-color: $bg-dark-color;
  border-radius: 0.5em;
}

.check_box {
  transform: scale(2);
  margin: 0 0.5em;
}

.submit_btn {
  font-weight: bold;
  font-size: 1.2em;
  padding: 1.5em 3em;
  margin: 5em 0 5em 0;
  width: 100%;
  background-color: $bg-gray-color;
  color: $text-base-color;
  border-color: $bg-dark-color;
  border-radius: 0.5em;
  &:hover {
    cursor: pointer;
  }
}