@import './variables';

.header {
    align-items: center;
    background-color: $bg-dark-color;
  }

  .header_logos {
    display: flex;
    justify-content: end;    /* コンテンツを右端に揃える */
  }

  /* ドロップダウンメニューのスタイル */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown_contents {
    display: none; /* 初期状態では非表示 */
    position: absolute;
    background-color: $bg-base-color;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1em;
    border-radius: 0.5em;
  }

  /* ホバー時にドロップダウンメニューを表示 */
  .dropdown:hover .dropdown_contents {
    display: block;
  }

  .dropdown_toggle {
    cursor: pointer;
  }

  /* ログインボタンのスタイル */
  .login_button {
    text-decoration: none;
    padding: 0.8em 1em;
    font-weight: bold;
    margin: 0.5em 1em 0.5em 0em;
    background-color: white;
    color: $text-base-color;
    border-radius: 5px;
  }
