@import 'variables';

.task_eyecatch {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.1em solid $bg-dark-color;
  border-radius: 0.5em;
  height: 20em;
}

.eyecatch {
  width: 30%;
  height: auto;
}